<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>View category</title>
</head>
<body>
<h1>View category: <span th:text="${category.name}"></span></h1>
<a href="/category">Category list</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.name}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="${product.category}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>